.button-block {
  display: block;
  background: $primary-color;
  color: $bg-color;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow ease-in-out .2s;
  text-align: center;

  &:active {
    box-shadow: 0 5px 5px #aaa;
  }

  &[disabled] {
    background-color: #777;
    cursor: default;
  }
}
