:host {
  display: flex;
  flex-direction: column;

  & > .qrcode-read {
    flex: 1;
  }
}

// TODO: object
.qrcode-read {
  position: relative;

  & > .watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
  }

  & > .video {
    max-width: 100%;
  }
}
