@import '../../../assets/sass/settings/spacing';

:host {
  display: block;
  padding: $general-padding;
  text-align: center;
  box-shadow: 0 -1px 10px #ccc;
  z-index: 1;

  & > .distance {
    margin-bottom: 10px;
  }
}
