:host {
  & > .form-group {
    display: flex;
    flex-direction: column;
  }

  & > .form-group > .control {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &.-spaceless {
      text-align: right;
    }

    label {
      font-weight: bold;
    }

    input {
      padding: 5px;
      border-radius: 3px;
      border: 1px solid #ccc;
      outline: none;
      transition: border-color ease-in .2s;
      &:focus {
        border-color: #333;
      }
    }
  }

  & > .form-group > .button-block {
    margin-top: 20px;
  }
}
