:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  & > .check {
    flex: 1;
    margin-top: 20px;
  }
}

// TOD: object
.summary-list {
  padding: 0;

  & > .item {
    list-style: none;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
  }

  & > .item:last-child {
    border-bottom: 1px solid #ddd;
  }

  & > .item > .highlight {
    font-weight: bold;
  }

  & > .item > .highlight.-positive {
    color: #008800;
  }
}
