<h2 class="page-title">Corrida Concluída</h2>

<ub-check class="check"></ub-check>

<ul class="summary summary-list">
  <li class="item">Você andou <span class="highlight">{{formattedDistance}}</span> em <span class="highlight">{{formattedTime}}</span></li>
  <li class="item">Sua viagem ficou <span class="highlight">{{formattedFinalPrice}}</span></li>
  <li class="item">Você ainda tem <span class="highlight -positive">{{formattedCurrentCredit}}</span> em créditos Ubike</li>
</ul>

<div class="text-section">
  <a class="button-block" routerLink="/bikes">Finalizar</a>
</div>
