@import '../../../assets/sass/settings/spacing';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  & > .timer-panel {
    text-align: center;
  }

  & > .timer-panel > .timer {
    font-size: 4em;
    font-weight: bold;
  }
}
