<agm-map [fitBounds]="latLngBounds" [maxZoom]="18">
    <agm-marker
    *ngIf="user"
    [latitude]="user.lat"
    [longitude]="user.lng"
    iconUrl="/assets/img/pin.png"></agm-marker>

  <agm-marker
    *ngFor="let m of bikes; let i = index"
    (markerClick)="onMarkerClick(m, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    iconUrl="/assets/img/bike.png">

    <agm-info-window>
      <div class="info-window">
        <strong>{{m.name}}</strong>
        <dl>
            <dt>Distancia:</dt> <dd>{{m.estimateTime}}</dd>
            <dt>Bicicletas disponíveis:</dt> <dd>{{m.availableBikes}}</dd>
            <dt>Endereço:</dt> <dd>{{m.address}}</dd>
        </dl>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
